<% type = options.delete :type %><% above_toolbar = options.delete :above_toolbar %><%= content_tag ( type == 'permanent' ? 'nav' : 'aside' ), options do %><% if above_toolbar == 'permanent' %>
    <div class="mdc-drawer__toolbar-spacer"></div><% end %>
    <%= block %>
<% end %>
